<h1><%= @ingredient.name %></h1><br/>
<h2><%= @ingredient.calories %> calories</h2><br/>
<h2><%= @ingredient.protein %>g protein</h2><br/>
<h2><%= @ingredient.carbs %>g carbs</h2><br/>
<h2><%= @ingredient.serving_size %> <%= @ingredient.unit %></h2><br/>
<h2><%= @ingredient.servings %> servings</h2><br/>
<h2>$<%= @ingredient.price %></h2>
