<script type="text/javascript">
$(function() {
  $(document).on("keydown.autocomplete",".select_ingredient",function(e){
    $(this).autocomplete({
      minLength: 2,
      source: '<%= ingredients_path(:json) %>',
      focus: function(event, ui) {
          $(this).val(ui.item.name);
          return false;
      },
      select: function(event, ui) {
        $(this).val(ui.item.name);
        if($(".select_ingredient").size() > 1) { $('#link_ingredient_id').val(ui.item.id); }
        else { $('#link_original_ingredient_id').val(ui.item.id); }
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.name + "</a>" )
      .appendTo( ul );
    };
  });
});
</script>


<div class="ingredientsForm">
  <%= label_tag "ingredients" %>
  <input id="link_original_ingredient_id" name="ingredient_ids[]" type="hidden">
  <%= text_field_tag "ingredients[]", nil, { :class => "select_ingredient" } %>
  <%= label_tag "servings" %>
  <%= text_field_tag "servings[]" %>
</div>
