<script type="text/javascript">
$(function() {
  $(document).on("keydown.autocomplete",".search_meals",function(e){
    $(this).autocomplete({
      minLength: 2,
      source: '<%= meals_path(:json) %>',
      focus: function(event, ui) {
          $(this).val(ui.item.name);
          return false;
      },
      select: function(event, ui) {
        $(this).val(ui.item.name);
        $('#link_meal_id').val(ui.item.id);
        return false;
      }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
      .data( "item.autocomplete", item )
      .append( "<a>" + item.name + "</a>" )
      .appendTo( ul );
    };
  });
});
</script>

<h1>Choose Your Meal</h1>

<!-- <div class="search_bar">
  form_tag @meal, meal_search_path, :method => 'PUT'
  <%= label_tag "search" %>
  <input id="link_meal_id" name="meals[]" type="hidden">
  <%= text_field_tag "meals[]", nil, { :class => "search_meals" } %>
  <%= submit_tag %>
</div> -->

<div id="meals-eaten">
  <ul class="inline">
    <% if @meals %>
    <% @meals.each do |meal| %>
      <li>
        <%= link_to image_tag("dinner-plate-orange.svg", height: "250", width: "250"), meal_path(meal)  %><br/>
        <%= link_to "#{meal.name}", meal_path(meal) %><br/>
        <%= meal.calories %> calories<br/>
        <%= meal.protein %>g protein<br/>
        <%= meal.carbs %>g carbs<br/>
        <%= link_to "Edit", edit_meal_path(meal) %>
        <%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= button_to "Eat", meal_eat_path(meal), class: "btn btn-primary btn-lg" %>
      </li>
    <% end %>
    <% else %>
      <h2>You haven't added any meals yet.</h2>
    <% end %>
  </ul>
</div>
