<h1>Choose Your Meal</h1>
<div id="meals-eaten">
  <ul class="inline">
    <% if @meals %>
    <% @meals.each do |meal| %>
      <li>
        <%= link_to image_tag("dinner-plate-orange.svg", height: "250", width: "250"), meal_path(meal)  %><br/>
        <%= link_to "#{meal.name}", meal_path(meal) %><br/>
        <%= meal.calories %> calories<br/>
        <%= meal.protein %>g protein<br/>
        <%= meal.carbs %>g carbs<br/>
        <%= link_to "Edit", edit_meal_path(meal) %>
        <%= link_to 'Delete', meal_path(meal), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= button_to "Eat", meal_eat_path(meal), class: "btn btn-primary btn-lg" %>
      </li>
    <% end %>
    <% else %>
      <h2>You haven't added any meals yet.</h2>
    <% end %>
  </ul>
</div>