<h1>Create Meal</h1>
<%= form_for(@meal) do |f| %>
  
  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <div id="ingredientField">
    <%= render "ingredient_form" %>
  </div>
  <a href="javascript:;" id="addNewIngredient">Add ingredient</a> 
  <a href="javascript:;" id="removeIngredient">Remove ingredient</a>   
  
  <%= f.label :clean_up %>
  <%= f.select :clean_up, options_for_select([["", ""],["Low", "low"], ["Med", "med"], ["High", "high"]]) %><br/>
 
  <%= f.label :homemade %>
  <%= f.select :homemade, options_for_select([["Yes", true],["No", false]])  %><br/>
  
  <%= f.submit "Save" %>
<% end %>