<h1>Create Meal</h1>
<%= form_for(@meal) do |f| %>
  <%= f.label :name %><br/>
  <%= f.text_field :name %>
  
  <%= f.label :description %><br/>
  <%= f.text_field :description %>
  
  <div id="ingredientField">
    <%= render "ingredient_form" %>
  
    <div class="hide" id="new_ingredients_form">
      <%= render partial: "ingredient_form", locals: {skill: false} %>
    </div>
  </div>
 
  <a href="javascript:;" id="addNewIngredient">Add ingredient</a>  
  
  <%= f.label :clean_up %><br/>
  <%= f.select :clean_up, options_for_select([["", ""],["Low", "low"], ["Med", "med"], ["High", "high"]]) %>
 
  
  <%= f.label :homemade %><br/>
  <%= f.select :homemade, options_for_select([["Yes", true],["No", false]])  %>
  
  <% hidden_field :user_id, value: "#{current_user.id}" %>
  
  <%= f.submit "Save" %>
<% end %>


